body{
    margin: 4px;
    background-color: #dde1bc;
}
h1{
    background-color: rgb(33, 248, 248);
    color: black;
    font-family:monospace;
}
h2{
    color: green; 
}
ul{list-style: none;
    display: flex;
}
li{background-color: gray;
color: white;
}